@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,700&family=Poppins:wght@300&display=swap');

body {
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/fundo.jpeg);
    background-size: cover; /* para preencher toda tela */
   
    }

    /* header 1 */
    
    .menu-principal1{
    width: 100%;
    background-color: #000000;
    height: 60px;
    }
    main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative; /*O position relative posiciona o elemento em relação a si mesmo. Ou seja, o ponto zero será o canto superior esquerdo, e ele começará a contar a partir dali*/
    }
    .logo {
     float: left;
     padding: 16px;
     width: 70%;
    }


    .redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
    }
    .redes-sociais {
    width: 25%;
    float: right;
    }


    /* header 2*/
    .header-2 {
    background-color: #f5f5f5;
    

    height: 60px;
    margin: 0 auto;
    padding: 16px;
    }
    .menu-urls {
    height: 80px;
    border-bottom: 3px solid  #00bfff;
    }
    .menu ul li {
        display: inline-block;
        color: #8b8b8b;
        margin-left: 15px;
        height: 50px;
    }
    
    .menu ul li:hover {   /* O hover CSS é uma pseudo-classe da linguagem de estilos que permite a criação de diversos efeitos interessantes em uma página HTML.*/
        border-bottom: 3px solid #00bfff;
    }
    
    .menu ul li a:hover {
        color: #00bfff;
        
    }
    
    .menu ul li a {
        color: #8b8b8b;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
    }
    .menu {
    width: 70%;
    float: left;
    }

    /* Menu de busca */
    .busca {
        text-align: center;
        width: 30%;
        float: right;
        

    }

    .busca input {
        background-image: url(../img/icone-search.png);
        background-repeat: no-repeat;
        height: 15px;
        padding: 12px;
        width: 190px;
        margin-top: 10px;
        background-position: 96%;
        border: 1px solid #d6d6d6;
    }

   

    .container{
        width: 80%;
        margin: 0 auto;
    }

    
.banner .container{
    height: 500px;
    display: flex;
    align-items: center;
}

.banner p{
    display: flex;
    justify-content: center;

    color: #080808;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
    margin-left: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.social{
    background-color: #e5e5e5;
    padding: 50px  0;


}

.social .container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; /* fica como coluna um embaixo do outro */
}



.social h2 {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    align-self: center;  /* modifica somente um item */
    justify-self: center;
    text-align: center;
    color:  #00bfff;
    margin: 0;

}

.social .boxes {
    display: flex;  /*um ao lado do outro */
}

.social .box{
    display: flex;
    flex-wrap: wrap;  /*juntar */
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.social .box img{
    width: 150px;
    align-self: center;

}

.social .titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}



 /*BOX-LOGIN*/


.banner-login{
    color: #000000;
    height: 550px;
    
}

.banner-login .container{
   
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.banner-login .card{
    background-color:  #f5f5f5;
    height: 400px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap; /* define que fique dentro da div*/
    border: 5px solid #00bfff;
    border-radius: 10px;
 
}

button{
    cursor: pointer;
}

input{
    height: 30px;
    width: 230px;
    border: 2px solid #00bfff;
    border-radius: 6px;
}

.btn{
    font-family:"nunito";
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #00bfff;
    width: 120px;
    align-self: center;
}


form{
    display: flex;
    flex-direction: column; /* centralizar botton  */
}

h2{
    display: flex;
    align-self: center; 

}

.btn-entrar{
    font-family:"nunito";
    border: 2px solid #00bfff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #00bfff;
    width: 120px;
    align-self: center;
}



 
 /*Tela sobre  */

 .social-sobre{
     padding-top: 40px;
     padding-left: 20px;
     padding-right: 20px;
 }
  img{
    position:relative;
 
  }
 /* Footer*/
 
 .footer {
     background-color: #00bfff;
     height: 150px;
     color:  #f5f5f5;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
 
 }
 
 .footer .container{
     display: flex;
     justify-content: center; /*todo */
     align-items: center;
 }


