body {
    padding: 0 auto;
    margin: 0 auto;
    background-image: url(../img/banner.jpeg);
    /*background-repeat: no-repeat;*/
    }
    
    .menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
    }
    main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative; /*O position relative posiciona o elemento em relação a si mesmo. Ou seja, o ponto zero será o canto superior esquerdo, e ele começará a contar a partir dali*/
    }
    .logo {
     float: left;
     padding: 16px;
     width: 70%;
    }

    img{
        height: 40px;
        width: 50px;
    }
    .redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
    }
    .redes-sociais {
    width: 25%;
    float: right;
    }
    .header-2 {
    background-color: #ffffff;
    width: 1012px;
    height: 60px;
    margin: 0 auto;
    padding: 16px;
    }
    .menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
    }
    .menu ul li {
        display: inline-block;
        color: #8b8b8b;
        margin-left: 15px;
        height: 50px;
    }
    
    .menu ul li:hover {   /* O hover CSS é uma pseudo-classe da linguagem de estilos que permite a criação de diversos efeitos interessantes em uma página HTML.*/
        border-bottom: 3px solid #00bfff;
    }
    
    .menu ul li a:hover {
        color: #00bfff;
        
    }
    
    .menu ul li a {
        color: #8b8b8b;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
    }
    .menu {
    width: 70%;
    float: left;
    }
    .busca {
        text-align: center;
        width: 30%;
        float: right;
    }
    .busca input {
        background-image: url(../img/icone-search.png);
        background-repeat: no-repeat;
        height: 36px;
        padding: 12px;
        width: 190px;
        margin-top: 10px;
        background-position: 96%;
        border: 1px solid #d6d6d6;
    }