@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,700&family=Poppins:wght@300&display=swap');

body {
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
    overflow:scroll;
    background-size: cover; /* para preencher toda tela */
   
    }

    

    /* header  */
    
    .menu-principal1{
    width: 100%;
    background-color: #000000;
    height: 60px;
    }
    
    main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative; /*O position relative posiciona o elemento em relação a si mesmo. Ou seja, o ponto zero será o canto superior esquerdo, e ele começará a contar a partir dali*/
    }
    .logo {
     float: left;
     padding: 16px;
     width: 25%;
    }

    .redes-sociais ul li {
        margin-left: 15px;
        display: inline-block;
        /* float: left; */
       
    }

    .redes-sociais {
    width: 25%;
    float: right;
    }


    /* header 2*/
    .header-2 {
    background-color: #f5f5f5;
    

    height: 60px;
    margin: 0 auto;
    padding: 16px;
    }
    .menu-urls {
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #0068b5;
    }
    .menu ul li {
        display: inline-block;
        color: #ffffff;
        margin-left: 15px;
        height: 50px;
    }
    
    .menu ul li:hover {   /* O hover CSS é uma pseudo-classe da linguagem de estilos que permite a criação de diversos efeitos interessantes em uma página HTML.*/
        border-bottom: 3px solid #0068b5;
    }
    
    .menu ul li a:hover {
        color: #0068b5;
        
    }
    
    .menu ul li a {
        color: #8b8b8b;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase; /*CAIXA ALTA */
    }
    .menu {
    width: 70%;
    float: left;
    }

    /* Menu de busca */
    .busca {
        text-align: center;
        width: 30%;
        float: right;
       
        

    }

    .busca input {
        background-image: url(../img/icone-search.png);
        background-repeat: no-repeat;
        height: 15px;
        padding: 12px;
        width: 190px;
        margin-top: 10px;
        margin-right: 90px;
        background-position: 96%;
        border: 1px solid #d6d6d6;
    }

   

    .container{
        width: 80%;
        margin: 0 auto;
    }

    
.banner .container{
    height: 500px;
    display: flex;
    align-items: center;
}

.banner p{
    display: flex;
    justify-content: center;

    color: #080808;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
    margin-left: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.social{
    background-color: #e5e5e5;
    padding: 50px  0;


}

.social .container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; /* fica como coluna um embaixo do outro */
}



.social h2 {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    align-self: center;  /* modifica somente um item */
    justify-self: center;
    text-align: center;
    color:  #0068b5;
    margin: 0;

}

.social .boxes {
    display: flex;  /*um ao lado do outro */
}

.social .box{
    display: flex;
    flex-wrap: wrap;  /*juntar */
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.social .box img{
    width: 150px;
    align-self: center;

}

.social .titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}



 /*BOX-LOGIN*/


.banner-login{
    color: #000000;
    height: 550px;
    
}

.banner-login .container{
   
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.banner-login .card{
    background-color:  #f5f5f5;
    height: 400px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap; /* define que fique dentro da div*/
    border: 5px solid#0068b5;
    border-radius: 10px;
 
}

button{
    cursor: pointer;
}

input{
    height: 30px;
    width: 230px;
    border: 2px solid#0068b5;
    border-radius: 6px;
}

.btn{
    font-family:"nunito";
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #0068b5;
    width: 120px;
    align-self: center;
}


form{
    display: flex;
    flex-direction: column; /* centralizar botton  */
}

h2{
    display: flex;
    align-self: center; 

}

.btn-entrar{
    font-family:"nunito";
    border: 2px solid #0068b5;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #0068b5;
    width: 120px;
    align-self: center;
}


/*Conteudo interno */
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(22, 6, 6);
    margin-left: 50px;
     margin-top: 10px;
     margin-bottom: 50px;
     padding-left: 300px;
     border-radius: 3px;
     width: 60%;
     height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
}


.conteudo_gif{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}


 .social-sobre{
     margin-left: 70px;
     margin-top: 50px;
     margin-bottom: 50px;
     width: 90%;
     height: 60vh;
     display: flex;
     justify-content: center;
     align-items: center;

     gap: 30px;
     
 }


 .box > h1{
     color: rgb(28, 55, 80);
 }
/*SLIDER INDEX */
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/anterior.png);
    top: 35%;
    left: 14%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/proximo.png);
    top: 35%;
    right: 14%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px;
}

li.slick-active button {
    background: #0068b5;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}



/*CATEGORIAS*/



.listaCategorias{
    display: grid; /* 2 dimensoes */ 
    width: 100%;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas*/
    gap: 30px; /* espaco entre os elementos da div*/
}



.title_div_categorias{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title_div_categorias >h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(28, 55, 80);
}


/* DASHBOARD */

.img_dash{
    float: right;
    width: 40%;
    height: 40px;

}